@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(gray, #63d49d);
}

.form-box {
    position: relative;
    width: 800px;
    height: 450px;
    background: azure;
    border: 2px solid #17f58d;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: right;
    align-items: center;

}

.form-value{
    margin-right: 100px;
    justify-content: left;
    align-items: center;
}

.image{
    position: relative;
    margin-right: 50px;

}

h2 {
    font-size: 2em;
    color: #17f58d;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #17f58d;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgb(45, 226, 157);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}


.form-box .inputbox input:focus~label,
.form-box .inputbox input:valid~label {
    font-size: 12px;
    top: -5px;
    color: #17f58d;
}


.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgb(72, 197, 149);
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #17f58d;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #17f58d;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #17f58d;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(40, 97, 3);
}
